DeepSeek OCR.json
{
  "name": "DeepSeek OCR via FastAPI",
  "nodes": [
    {
      "parameters": {
        "path": "ocr-webhook",
        "options": {}
      },
      "id": "WebhookIn",
      "name": "Webhook (in)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ocr:8000/ocr",
        "allowUnauthorizedCerts": true,
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "timeout": 300000
        },
        "bodyParametersJson": "={ {\"image_url\": $json[\"image_url\"] } }"
      },
      "id": "HttpReq",
      "name": "HTTP Request → FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [560, 260]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "property": "data"
      },
      "id": "Resp",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 260]
    }
  ],
  "connections": {
    "Webhook (in)": {
      "main": [
        [
          { "node": "HTTP Request → FastAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request → FastAPI": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
